.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.dFlex {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.lineThrough {
    text-decoration: line-through;
}

.pointer {
    cursor: pointer;
}

.red {
    color: red;
    font-weight: bold;
}

.div {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}