.search {
    position: relative;
    min-width: 500px;
    display: flex;

}

// .input {
//     min-width: 300px;
//     width: 70%;
//     padding: 16px;
//     border-radius: 32px;
//     border-color: transparent;
// }

// .icon,
// .iconCross {
//     position: absolute;
//     right: 0px;
//     top: 50%;
//     transform: translate(-10%, -50%);
// }

// .iconCross {
//     right: 40px;
// }